# Analysis

Miguel Angelo do Amaral Junior

### Import Libraries

In [1]:
import json
import pandas as pd

In [2]:
with open("source_file_2.json", 'r') as json_file:
    dados = json.load(json_file)


df = pd.DataFrame(dados)

df.head()

,managers,name,priority,watchers
0,"[csaftoiu, merlin]",[CV] [Qt] OpenCV GUI,850,"[merlin, morris]"
1,[merlin],[Web] pm-site,260,"[csaftoiu, jpfarias, morris]"
2,[luanda],Annotations,10,"[csaftoiu, merlin, victor]"
3,[csaftoiu],[OCR] tesseract MRZ reading,560,"[arturc, merlin]"
4,[morris],Deepgammon,150,"[merlin, victor]"

In [3]:
df = df.sort_values('priority',ascending=True).reset_index().drop('index',axis=1)
df.head()

,managers,name,priority,watchers
0,[luanda],Annotations,10,"[csaftoiu, merlin, victor]"
1,[merlin],[EXECUTIVE] Merlin,20,"[csaftoiu, jpfarias, merlin, morris]"
2,[morris],sportsparsers - 22bet,45,"[csaftoiu, merlin]"
3,[morris],sportsparsers - esportscalendar,55,"[csaftoiu, merlin]"
4,[victor],morris bg data gathering,130,"[csaftoiu, morris]"

In [4]:
mandf = df.drop(['priority','watchers'],axis=1)
mandf.head()

   managers                             name
0  [luanda]                      Annotations
1  [merlin]               [EXECUTIVE] Merlin
2  [morris]            sportsparsers - 22bet
3  [morris]  sportsparsers - esportscalendar
4  [victor]         morris bg data gathering

In [5]:
watdf = df.drop(['priority','managers'],axis=1)
watdf.head()

                              name                              watchers
0                      Annotations            [csaftoiu, merlin, victor]
1               [EXECUTIVE] Merlin  [csaftoiu, jpfarias, merlin, morris]
2            sportsparsers - 22bet                    [csaftoiu, merlin]
3  sportsparsers - esportscalendar                    [csaftoiu, merlin]
4         morris bg data gathering                    [csaftoiu, morris]

In [6]:
x = 'MIGUEL'

print(x.lower())

miguel

In [7]:
#Creat a Dict
dados = {}
for managers in mandf['managers']:
    if len(managers) == 1:
        dados[managers[0].lower()] = []
        
            
    if len(managers) == 2:
        dados[managers[0].lower()] = []
        dados[managers[1].lower()] = []
    
    
    
for managers,name in zip(mandf['managers'],mandf['name']):
    #for name in mandf['name']:

    if len(managers) == 1:

        if name not in dados[managers[0].lower()]:

            dados[managers[0].lower()].append(name)
    else:

        if name not in dados[managers[0].lower()]:

            dados[managers[0].lower()].append(name)

        if name not in dados[managers[1].lower()]:

            dados[managers[1].lower()].append(name)
                
#print(len(dados['merlin']))          
  
#print(dados.keys())
            
#print(len(dados['csaftoiu']))

In [8]:
with open('./managers.json', 'w') as json_file:
    json.dump(dados, json_file,indent=2)

In [9]:
print(dados['merlin'][2])

[ID-VERIFY-PIPELINE] finger detector

In [10]:
#Creat a Dict

dados = {}
for watchers in watdf['watchers']:
    
    
    if len(watchers) == 1:
        dados[watchers[0].lower()] = []
        
            
    if len(watchers) == 2:
        dados[watchers[0].lower()] = []
        dados[watchers[1].lower()] = []
        
    if len(watchers) == 3:
        dados[watchers[0].lower()] = []
        dados[watchers[1].lower()] = []
        dados[watchers[2].lower()] = []
        
    if len(watchers) == 4:
        dados[watchers[0].lower()] = []
        dados[watchers[1].lower()] = []
        dados[watchers[2].lower()] = []
        dados[watchers[3].lower()] = []
        

    
    
    
    
  
for watchers,name in zip(watdf['watchers'],watdf['name']):
    #for name in mandf['name']:

    if len(watchers) == 1:

        if name not in dados[watchers[0].lower()]:

            dados[watchers[0].lower()].append(name)
            
    elif len(watchers) == 2:

        if name not in dados[watchers[0].lower()]:

            dados[watchers[0].lower()].append(name)

        if name not in dados[watchers[1].lower()]:

            dados[watchers[1].lower()].append(name)
            
    elif len(watchers) == 3:
        
        if name not in dados[watchers[0].lower()]:

            dados[watchers[0].lower()].append(name)

        if name not in dados[watchers[1].lower()]:
            
            dados[watchers[1].lower()].append(name)
        
        if name not in dados[watchers[2]]:
            
            dados[watchers[2].lower()].append(name)
        
    elif len(watchers) == 4:
        
        if name not in dados[watchers[0].lower()]:

            dados[watchers[0].lower()].append(name)

        if name not in dados[watchers[1].lower()]:
            
            dados[watchers[1].lower()].append(name)
            
        if name not in dados[watchers[2].lower()]:
            
            dados[watchers[2].lower()].append(name)
        
        if name not in dados[watchers[3].lower()]:
            
            dados[watchers[3].lower()].append(name)
#print(dados)

In [12]:
with open('./watchers.json', 'w') as json_file:
    json.dump(dados, json_file,indent=2)