# Converter as imagens para dicion치rio e adicionar como linhas de uma coluna

Tive que fazer isso, pois fica mais f치cil transferir as imagens para o google colab

# Attempt 1- Image classification from keras

### 1-) Import Library

In [84]:
import numpy as np
import pandas as pd

### 2-) Read and View the Data

In [85]:
train_imgs = pd.read_csv('./train.csv')

In [86]:
len(train_imgs['fn'])

48896

In [87]:
train_imgs.head(3)

                               fn         label
0  0-10049200_1891-09-16_1958.jpg  rotated_left
1  0-10110600_1985-09-17_2012.jpg  rotated_left
2  0-10126400_1964-07-07_2010.jpg       upright

### 3-) Organize the Data

Function to separate the characteristics of the images of the learning

In [88]:
def read_and_process_image(lista_img,lista_lab):
    X = []
    y =[]
    for image,label in zip(lista_img,lista_lab):
        X.append(mpimg.imread('./train/'+image))# add image to array
        
        """Change string to int:
        
        upright = 0,
        
        right = 1,
        
        left = 2,
        
        upside down =3"""
        
        if 'upright' in label:
            y.append(0)
        elif 'rotated_right' in label:
            y.append(1)
        elif 'rotated_left' in label:
            y.append(2)
        elif 'upside_down' in label:
            y.append(3)
        else:
            y.append(None)
    return X,y

Add datas in X and y variable

In [89]:
#X,y = read_and_process_image(train_imgs['fn'][0:10000],train_imgs['label'][0:10000])
X,y = read_and_process_image(train_imgs['fn'],train_imgs['label'])

In [90]:
# turn into Array
X = np.array(X)
y = np.array(y)

In [91]:
# X => (img number, rowns, coloumns,layers)
X.shape

(48896, 64, 64, 3)

In [92]:
# y => (values of img orientation)
y.shape

(48896,)

## 4-) Criar um dicion치rio com cada imagem, contendo rows, columns and layers

In [93]:
#Precisamos importar essa biblioteca para fazer nosso dicion치rio trabalhar como uma lista.
from collections import defaultdict

In [94]:
dados = defaultdict(list)

for img,label in zip(X,y):
    dados['img'].append(img)
    dados['label'].append(label)

In [99]:
df.shape

(48896, 2)

In [98]:
df = pd.DataFrame(dados)
df.tail(5)

                                                     img  label
48891  [[[176, 110, 76], [176, 110, 76], [175, 111, 7...      0
48892  [[[254, 248, 212], [254, 248, 212], [254, 248,...      2
48893  [[[2, 0, 1], [2, 0, 1], [2, 0, 1], [2, 0, 1], ...      2
48894  [[[102, 104, 101], [102, 104, 101], [102, 104,...      2
48895  [[[67, 71, 100], [81, 85, 114], [83, 83, 111],...      1

In [97]:
df.to_csv('./train_img_to_df.csv',index=False)