# Converter as imagens para dicionário e adicionar como linhas de uma coluna

Tive que fazer isso, pois fica mais fácil transferir as imagens para o google colab

# Attempt 1- Image classification from keras

### 1-) Import Library

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [5]:
import PIL

### 2-) Read and View the Data

In [6]:
train_imgs = pd.read_csv('./train.csv')

In [7]:
len(train_imgs['fn'])

48896

In [8]:
train_imgs.head(3)

                               fn         label
0  0-10049200_1891-09-16_1958.jpg  rotated_left
1  0-10110600_1985-09-17_2012.jpg  rotated_left
2  0-10126400_1964-07-07_2010.jpg       upright

### 3-) Organize the Data

Function to separate the characteristics of the images of the learning

In [9]:
def read_and_process_image(lista_img,lista_lab):
    X = []
    y =[]
    for image,label in zip(lista_img,lista_lab):
        X.append(mpimg.imread('./train/'+image))# add image to array
        
        """Change string to int:
        
        upright = 0,
        
        right = 1,
        
        left = 2,
        
        upside down =3"""
        
        if 'upright' in label:
            y.append(0)
        elif 'rotated_right' in label:
            y.append(1)
        elif 'rotated_left' in label:
            y.append(2)
        elif 'upside_down' in label:
            y.append(3)
        else:
            y.append(None)
    return X,y

Add datas in X and y variable

In [10]:
#X,y = read_and_process_image(train_imgs['fn'][0:10000],train_imgs['label'][0:10000])
X,y = read_and_process_image(train_imgs['fn'],train_imgs['label'])

In [11]:
# turn into Array
X = np.array(X)
y = np.array(y)

In [14]:
# X => (img number, rowns, coloumns,layers)
X.shape

(48896, 64, 64, 3)

In [13]:
# y => (values of img orientation)
y.shape

(48896,)

## 4-) Criar um dicionário com cada imagem, contendo rows, columns and layers

In [12]:
#Precisamos importar essa biblioteca para fazer nosso dicionário trabalhar como uma lista.
from collections import defaultdict

In [13]:
dados = defaultdict(list)

for img,label in zip(X,y):
    dados['img'].append(img)
    dados['label'].append(label)

In [15]:
df = pd.DataFrame(dados)
df.tail(5)

                                                     img  label
48891  [[[176, 110, 76], [176, 110, 76], [175, 111, 7...      0
48892  [[[254, 248, 212], [254, 248, 212], [254, 248,...      2
48893  [[[2, 0, 1], [2, 0, 1], [2, 0, 1], [2, 0, 1], ...      2
48894  [[[102, 104, 101], [102, 104, 101], [102, 104,...      2
48895  [[[67, 71, 100], [81, 85, 114], [83, 83, 111],...      1

In [16]:
df.shape

(48896, 2)

In [22]:
df['img'][0][0][0]

array([126, 125, 130], dtype=uint8)

In [55]:
df.to_csv('./train_img_to_df.csv',index=False)

# 5-) Leitura dos dados

In [56]:
train_csv = pd.read_csv('./train_img_to_df.csv')

In [57]:
train_csv.head(2)

                                                 img  label
0  [[[126 125 130]\n  [122 121 126]\n  [139 138 1...      2
1  [[[ 69  13   0]\n  [ 94  21   6]\n  [146  40  ...      2

In [58]:
X,y = train_csv['img'],train_csv['label']

## <font color = 'red'>Problema está aqui...</font>

In [59]:
X[0]

'[[[126 125 130]\n  [122 121 126]\n  [139 138 143]\n  ...\n  [131 129 130]\n  [122 120 121]\n  [124 122 123]]\n\n [[142 141 146]\n  [166 165 170]\n  [136 135 140]\n  ...\n  [154 152 153]\n  [124 122 123]\n  [162 160 161]]\n\n [[141 142 144]\n  [148 149 151]\n  [111 112 114]\n  ...\n  [110 108 109]\n  [122 120 121]\n  [117 115 116]]\n\n ...\n\n [[220 222 221]\n  [214 216 215]\n  [224 226 225]\n  ...\n  [126 126 126]\n  [149 149 151]\n  [217 217 219]]\n\n [[207 209 208]\n  [219 221 220]\n  [209 211 210]\n  ...\n  [137 137 139]\n  [127 127 129]\n  [195 195 197]]\n\n [[212 214 213]\n  [224 226 225]\n  [206 208 207]\n  ...\n  [131 131 133]\n  [138 138 140]\n  [149 149 151]]]'